<template>
  <div class="favorites-container">
    <div v-for="item in returnPers" :key="item.id">
      <div class="product-item">
        <img :src="item.image" />
        <div class="product-list">
          <h3>{{ item.name }}</h3>
          <span class="price">{{ item.gender }}</span>
          <span class="price">{{ item.origin.name }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About',
  data() {
    return {
      returnPers: [],
    };
  },

  mounted() {
    this.returnPers = JSON.parse(localStorage.getItem('key'));
  },
};
</script>

<style>
* {
  box-sizing: border-box;
}
.favorites-container {
  justify-content: center;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.product-item {
  width: 350px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #f5f5f5;
  background: white;
  font-family: 'Open Sans';
  transition: 0.3s ease-in;
}
.product-item:hover {
  border-bottom: 2px solid #fc5a5a;
}
.product-item img {
  display: block;
  width: 100%;
}
.product-list {
  background: #fafafa;
  padding: 15px 0;
}
.product-list h3 {
  font-size: 25px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}
.price {
  font-size: 20px;
  color: black;
  display: block;
  margin-bottom: 12px;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: 0.3s ease-in;
}
.product-item:hover .button {
  background: #fc5a5a;
}
</style>
