<template>
  <div class="home">
    <div class="card" v-if="isLoading === true">
      <div class="card" v-for="item in items" :key="item.id">
        <div class="product-item">
          <img :src="item.image" />
          <div class="product-list">
            <h3>{{ item.name }}</h3>
            <span class="price">{{ item.gender }}</span>
            <span class="price">{{ item.origin.name }}</span>

            <button class="button" @click="addPers(item)">
              Добавить в избранное
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="loading" v-if="isLoading === false">
      <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <ul class="pagination">
      <li class="disabled" @click="prevPage()">
        <a href="#!"><i class="material-icons">Назад</i></a>
      </li>
      <li
        v-for="page in pagination"
        :key="page"
        @click="pageChangeHandler(page)"
        class="active"
      >
        <a href="#!">{{ page }}</a>
      </li>

      <li class="waves-effect" @click="nextPage()">
        <a href="#!"><i class="material-icons">Вперед</i></a>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import axios from 'axios';

export default {
  name: 'HomeView',
  data() {
    return {
      cardPers: [],
      pagination: 0,
      currentPage: 1,
      isLoading: false,
    };
  },
  components: {},
  methods: {
    nextPage() {
      if (this.currentPage <= this.pagination) {
        this.currentPage++;
        this.getItems();
      } else {
        this.currentPage = 1;
        this.getItems();
      }
    },
    prevPage() {
      if (this.currentPage >= 1) {
        this.currentPage--;
        this.getItems();
      } else {
        this.currentPage = this.pagination;
        this.getItems();
      }
    },
    pageChangeHandler(page) {
      if (page) {
        this.currentPage = page;
        this.getItems();
      }
    },

    addPers(item) {
      this.cardPers.push(item);

      localStorage.setItem('key', JSON.stringify(this.cardPers));
      console.log(this.cardPers);
    },
    ...mapMutations({
      setItems: 'SET_ITEMS',
    }),
    getItems() {
      axios
        .get('https://rickandmortyapi.com/api/character', {
          params: this.axiosParams,
        })
        .then((res) => {
          setTimeout(() => {
            this.isLoading = true;
          }, 1000);
          this.pagination = res.data.info.pages;

          this.setItems([...res.data.results]);
        });
    },
  },
  computed: {
    axiosParams() {
      const params = new URLSearchParams();
      params.append('page', this.currentPage);

      return params;
    },
    ...mapState({
      items: (state) => state.items,
    }),
  },
  mounted() {
    this.getItems();
  },
};
</script>
<style>
* {
  box-sizing: border-box;
}
.loading {
  min-height: 500px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.product-item {
  width: 350px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #f5f5f5;
  background: white;
  font-family: 'Open Sans';
  transition: 0.3s ease-in;
}
.product-item:hover {
  border-bottom: 2px solid #fc5a5a;
}
.product-item img {
  display: block;
  width: 100%;
}
.product-list {
  background: #fafafa;
  padding: 15px 0;
}
.product-list h3 {
  font-size: 25px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}
.price {
  font-size: 20px;
  color: black;
  display: block;
  margin-bottom: 12px;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: 0.3s ease-in;
}
.product-item:hover .button {
  background: #fc5a5a;
}
</style>
