<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">Favorites</router-link>
  </nav>
  <router-view />
</template>

<style lang="scss">
nav {
  text-align: center;
  font-size: large;
}
</style>
